{{ "<!-- footer part start -->" | safeHTML }}
<footer class="bg-secondary border-top">
  <div class="section border-bottom-0 py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-3 col-sm-6">
          <h4 class="text-dark mb-4">{{ i18n "business_hours" }}</h4>
          <ul class="list-unstyled list-hover-underline">
            {{ range site.Params.business_hours }}
              <li class="row mb-3 text-dark">
                <div class="col-6">{{ .day }}</div>
                <div class="col-6">{{ .time }}</div>
              </li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <h4 class="text-dark mb-4">{{ i18n "contact_info" }}</h4>
          <ul class="list-unstyled contact-list">
            <li class="mb-3 text-dark">
              <a class="mb-3 text-dark" href="{{site.Params.contact_info.address_link | safeHTML }}">{{site.Params.contact_info.address | safeHTML }}</a>
            </li>
            <li class="mb-3 text-dark"><a class="mb-3 text-dark" href="tel:{{site.Params.contact_info.mobile | safeHTML }}">{{site.Params.contact_info.mobile | safeHTML }}</a></li>
            <li class="mb-3 text-dark">
              {{ site.Params.contact_info.email | safeHTML }}
            </li>
          </ul>
          <ul class="list-inline social-icons">
            {{ range site.Params.social }}
              <li class="list-inline-item">
                <a href="{{ .link | safeURL }}"
                  ><i class="{{ .icon }}"></i>
                  <span class="screen-reader-text">{{ .title }}</span></a
                >
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ " <!-- footer part end -->" | safeHTML }}

  {{ " <!-- copyright part start -->" | safeHTML }}
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-0 text-light copyright">
            {{ site.Params.copyright | markdownify }}
            {{time.Now.Year}}
            {{ if site.Params.design_by }}
            | Design by {{ site.Params.design_by | markdownify }}
            {{ end }}
          </p>
        </div>
      </div>
    </div>
  </div>
  {{ " <!-- copyright part end -->" | safeHTML }}
</footer>

{{ "<!-- Google Map API -->" | safeHTML }}
{{ with site.Params.map.gmap_api }}
  <script src="{{ . | safeURL }}"></script>
{{ end }}
