.social-icons {
    li {
      a {
        i {
          width: 46px !important;
          padding: 13px;
          height: 46px;
          line-height: 46px;
          color: $text-light;
          text-align: center;
          border: 2px solid $border-color;
          display: block;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          @extend .transition;
  
          &:hover {
            background-color: $color-primary;
            border: 2px solid $color-primary;
            color: $white;
          }
        }
      }
    }
  }

.sticky-top{
    top:0;
}

.copyright a:hover {
  color: $text-dark;
}

.contact-list li a:hover {
  color: $text-light !important;
}

.page-title {
  & > div {
    background: $bg-gradient-secondary;
    opacity: 0.7;

    & > div {
      padding: 220px 0 100px;
    }
  }

  h1 {
    font-size: 45px;
    opacity: 1;
  }

  p {
    opacity: 1;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  color: inherit;
}

.contact-icons{
  color: $text-dark;
}
