{{ define "main" }}
  <section class="section">
    <div class="container">
      <div class="row justify-content-between">
        {{ with site.Params.google_map }}
          {{ if .enable }}
            <div class="col-lg-8 mb-5 mb-lg-0 overflow-hidden">
              <iframe
                class="rounded-3"
                style="min-height:100%;width:100%;"
                frameborder="0"
                src="{{ .embed_url }}"></iframe>
            </div>
          {{ end }}
        {{ end }}
        <div class="col-lg-4">
          <div class="p-5 rounded-xs shadow">
            <h3 class="text-dark border-bottom mb-5 pb-4">
              {{ i18n "keep_in_touch" }}
            </h3>
            <ul class="list-unstyled">

              {{ with site.Params.contact_info.address }}
                <li class="d-flex mb-4" >
                  <i class="fas fa-map contact-icons"></i>
                  <div class="ps-3">
                    <h6 class="text-dark">Address</h6>
                    <p>{{ . | markdownify }}</p>
                  </div>
                </li>
              {{ end }}

              {{ with site.Params.contact_info.mobile }}
                <li class="d-flex mb-4" >
                  <i class="fa fa-phone contact-icons"></i>
                  <div class="ps-3">
                    <h6 class="text-dark">Phone</h6>
                    <p>{{ . | markdownify }}</p>
                  </div>
                </li>
              {{ end }}

              {{ with site.Params.contact_info.email }}
                <li class="d-flex mb-4">
                  <i class="fas fa-envelope contact-icons"></i>
                  <div class="ps-3">
                    <h6 class="text-dark">Email</h6>
                    <div class="content">{{ . | markdownify }}</div>
                  </div>
                </li>
              {{ end }}
              {{ with site.Params.business_hours}}
              <li class=" d-flex justify-content-center mb-4">
                <h5 class="text-dark">{{ i18n "business_hours" }}</h5>
                {{ range site.Params.business_hours }}
                <li class="row text-dark justify-content-center">
                  <div class="col-4">{{ .day }}</div>
                  <div class="col-4">{{ .time }}</div>
                </li>
                {{ end }}
              </li>
              {{ end }}

            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ if site.Params.google_map.enable }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ site.Params.google_map.gmap_api }}&libraries=places"></script>
  {{ end }}

{{ end }}
